/*
  This css file is for individual users to restyle items for their personal site,
  or for the implementation of features specifically for their site. Anything that
  is an official part of the theme (ex. Pull Requests) should be included in main.css
  within the formating given.
*/

img.hex{
  float: right;
  border-radius: 0;
  -webkit-box-shadow: 0 0;
  margin: 1rem 1rem;
}